.BUTTON_JCU {
   background: #c84b31;
   background-image: -webkit-linear-gradient(top, #c84b31, #1E62D0);
   background-image: -moz-linear-gradient(top, #c84b31, #1E62D0);
   background-image: -ms-linear-gradient(top, #c84b31, #1E62D0);
   background-image: -o-linear-gradient(top, #c84b31, #1E62D0);
   background-image: -webkit-gradient(to bottom, #c84b31, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Trebuchet MS;
   font-size: 40px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 30px;
}

.BUTTON_JCU:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #c84b31);
   background-image: -moz-linear-gradient(top, #1E62D0, #c84b31);
   background-image: -ms-linear-gradient(top, #1E62D0, #c84b31);
   background-image: -o-linear-gradient(top, #1E62D0, #c84b31);
   background-image: -webkit-gradient(to bottom, #1E62D0, #c84b31);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
